/docai/.clerk/.tmp
/docai/.next/server
/docai/.next/static/chunks/app/ide
docai/.next/static/chunks/react-syntax-highlighter_languages_refractor_abnf.js
/docai/.next/static/chunks
/docai/.next/static
/docai/repositories
/docai/.next
/docai/.next
/docai/.next
docai/.next/server/server-reference-manifest.js
/docai/.next
/docai/segments
/docai/.next
/docai/.next
/docai/public
